<!doctype html>
<html lang="en" xmlns:v-on="http://www.w3.org/1999/xhtml">
<head>
    <title>Websocket ChatRoom</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="/webjars/bootstrap/4.3.1/dist/css/bootstrap.min.css">
    <style>
        [v-cloak] {
            display: none;
        }

    </style>
</head>
<body>
<div class="container" id="app" v-cloak>
    <div>
        <h2>{{room.recruit.title}}</h2>
    </div>
    <div class="input-group">
        <div class="input-group-prepend">
            <label class="input-group-text">내용</label>
        </div>
        <input type="text" class="form-control" v-model="message" v-on:keypress.enter="sendMessage">
        <div class="input-group-append">
            <button class="btn btn-primary" type="button" @click="sendMessage">보내기</button>
        </div>
    </div>
    <ul class="list-group">
        <li class="list-group-item" v-for="message in messages">
            {{message.sender}} - {{message.message}}
        </li>
    </ul>
    <div></div>
</div>
<!-- JavaScript -->
<script src="/webjars/vue/2.5.16/dist/vue.min.js"></script>
<script src="/webjars/axios/0.17.1/dist/axios.min.js"></script>
<script src="/webjars/sockjs-client/1.1.2/sockjs.min.js"></script>
<script src="/webjars/stomp-websocket/2.3.3-1/stomp.min.js"></script>
<script>
    //alert(document.title);
    // websocket & stomp initialize
    var sock = new SockJS("/ws/chat");
    var ws = Stomp.over(sock);
    var reconnect = 0;
    // vue.js
    var vm = new Vue({
        el: '#app',
        data: {
            chatRoomId: '',
            room: {},
            sender: '',
            message: '',
            messages: [],
            token: ''
        },
        created() {
            this.token = localStorage.getItem('wschat.token');
            this.chatRoomId = localStorage.getItem('wschat.chatRoomId');
            this.senderId = localStorage.getItem('wschat.senderId');
            this.findRoom();
        },
        methods: {
            findRoom: function() {
                axios.get('/api/v1/room/'+this.chatRoomId,{
                    headers: {
                        Authorization: this.token
                    }
                }).then(response => {
                    this.room = response.data;
                    this.messages = response.data.messages;
                });
                console.log(response.data);
            },
            sendMessage: function() {
                ws.send("/app/chat/message", {}, JSON.stringify({roomId:this.chatRoomId, senderId:this.senderId, message:this.message}));
                this.message = '';
            },
            recvMessage: function(recv) {
                this.messages.push({"type":recv.type,"sender":recv.type=='ENTER'?'[알림]':recv.sender,"message":recv.type=="ENTER"?"이 입장하였습니다":recv.message})
            },
            readMessage: function(readMessageId) {
                ws.send("/app/chat/message", {}, JSON.stringify({roomId:this.chatRoomId, senderId:this.senderId, readMessageId: readMessageId, type: "READ"}));
            }
        }
    });

    function connect() {
        // pub/sub event
        var headers = {
            "Authorization": localStorage.getItem('wschat.token')
        }
        ws.connect(headers, function(frame) {
            ws.subscribe("/topic/chat/room/"+vm.$data.chatRoomId, function(message) {
                var recv = JSON.parse(message.body);
                vm.recvMessage(recv);
                if(recv.type=="TALK"){
                    vm.readMessage(recv.messageId);
                }
            });
        }, function(error) {
            if(reconnect++ <= 5) {
                setTimeout(function() {
                    console.log("connection reconnect");
                    sock = new SockJS("/ws/chat");
                    ws = Stomp.over(sock);
                    connect();
                },10*1000);
            }
        });
    }
    connect();
    vm.readMessage(message[message.size()-1]);

</script>
<script type="module">
  // Import the functions you need from the SDKs you need
  import { initializeApp } from "https://www.gstatic.com/firebasejs/9.16.0/firebase-app.js";
  import { getAnalytics } from "https://www.gstatic.com/firebasejs/9.16.0/firebase-analytics.js";
  // TODO: Add SDKs for Firebase products that you want to use
  // https://firebase.google.com/docs/web/setup#available-libraries

  // Your web app's Firebase configuration
  // For Firebase JS SDK v7.20.0 and later, measurementId is optional
  const firebaseConfig = {
    apiKey: "AIzaSyDspf5Exnm_2Ticbx4jhF8ocnhZFxhcVyk",
    authDomain: "baedalmate-bc331.firebaseapp.com",
    projectId: "baedalmate-bc331",
    storageBucket: "baedalmate-bc331.appspot.com",
    messagingSenderId: "219881756238",
    appId: "1:219881756238:web:080a2a9141a832b4c4551f",
    measurementId: "G-BNDQ26DG8N"
  };

  // Initialize Firebase
  const app = initializeApp(firebaseConfig);
  const analytics = getAnalytics(app);
</script>
</body>
</html>